
.Container{
    width: 75%;
    display: block;
    margin:10px auto;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    padding : 10px;
    border: 1px solid #eee;
    box-sizing: border-box;
}

@media screen and (max-width: 500px) {
    .Container{
        width: 100%;
    }
}